
@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<h1>Details Page</h1>

<ul>
    <li style="color:red;">TempData: @TempData["Id"]</li>
    <li style="color:darkcyan;">ViewData: @ViewData["Id"]</li>
    <li style="color:purple;">ViewBag: @ViewBag.Id</li>

</ul>