  <!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a asp-controller="Team" asp-action="Index">Home</a></li>
            <li>Error</li>
        </ol>
        <h2>Error</h2>

    </div>
<h2 style="color:red;">@TempData["Error"]</h2>
</section><!-- End Breadcrumbs -->
