<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1 style="color: darkblue; background-color: burlywood; ">This is a Header</h1>
        @RenderBody()
        <h1 style="color: lawngreen; background-color:darkorchid ; ">This is a Footer</h1>
    </div>
</body>
</html>
